<!DOCTYPE html>
<html>
<head>  
    <title></title>
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href="{% static 'gamifi/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  {% load socialaccount %}

  <div >
  <nav class="navbar navbar-expand-sm navbar-transparent">
    <div class="navbar-collapse ">
      <ul class="navbar-nav mr-auto">
              <a class="navbar-brand mb-0 h1 color-warning">Post-Covid Fitness App</a>       
      </ul>
    </div>
  {% if user.is_authenticated %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="nav navbar-nav ml-auto">
              <li>
                <a class="nav-link " href="{% url 'gamifi:friends' %}">Friends</a>
              </li>
                <li>
                    <a class="nav-link " href="{% url 'gamifi:leaderboard' %}">Leaderboard</a>
                </li>
                <li>
                    <a class="nav-link " href="{% url 'gamifi:activities' %}">Activity Log</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'gamifi:profile' %}">My Profile</a>
                </li>
                <li>
                <a class="nav-link" href="{% url 'gamifi:profile' %}">Sign-Out</a>
              </li>
            </ul>
    </div>
  {% else %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="nav navbar-nav ml-auto">
          <li>
              <a class="nav-link" href="{% provider_login_url 'google' %}">Sign-In with Google</a>
          </li>
      </ul>
    </div>
  {% endif %}
  </div >
  </nav>
{% block content %}
{% endblock %}

</body>


</html>