{% extends "gamifi/base.html" %}
{%block content %}
<div class = "container" style="text-align: center">
    <h1 class="display-1">Your Friends</h1>
    {% for friend in object_list %}
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'gamifi:profile' friend.username %}">{{friend.username}}</a>
        <a href="{% url 'gamifi:unfriend' friend.username %}" class = "btn btn-danger">Unfriend</a></li>
    </ul>
    {% endfor %}
</div>

<div class = "container">
    <h4 class="display-4">Friend Requests</h4>
    {% for fr in all_friend_requests %}
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'gamifi:profile' fr.sender.username %}">{{fr.sender}}</a>
            <a class="btn btn-primary" href="{% url 'gamifi:accept-friend-request' fr.id %}" role="button">Accept</a>
            <a class="btn btn-primary" href="{% url 'gamifi:deny-friend-request' fr.id %}" role="button">Deny</a></li>
    </ul>
    {% endfor %}
</div>

{% endblock %}
