{% extends "gamifi/base.html" %}
{%block content %}
{% load socialaccount %}

<h1>Gamefi Index Page</h1>

{% if user.is_authenticated %}
<h2>Welcome, {{ user.username }} !</h2>
<p>{{ user.email }}</p>
  {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}

{{exp_total}}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Duration</th>
      <th scope="col">Mark as Complete</th>
    </tr>
  </thead>
  <tbody>
  {% for exercise in exercise_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{exercise.name}}</td>
      <td> {{exercise.category}}</td>
      <td>{{exercise.duration}}{% if exercise.category != "Cardio" %} Repetitions{%else%} Minutes{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}