{% extends "gamifi/base.html" %}
{%block content %}

<h1 style="text-align:center" class="display-1">Current Leaderboard</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Experience</th>
    </tr>
  </thead>
  <tbody>
  {% for u in user_list%}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td> <a href="{% url 'gamifi:profile' u.username %}">{{u}}</a></td>
      <td>{{u.total}} XP</td>
    </tr>
  {%endfor%}
  </tbody>
</table>

{% endblock %}
